<script lang="typescript">
  export let segment
  const pages = [
    { name: 'home', href: '.' },
    { name: 'about', href: 'about' },
    { name: 'blog', href: 'blog', rel: 'prefetch' },
  ]
</script>

<style>
  nav {
    border-bottom: 1px solid rgba(255, 62, 0, 0.1);
    font-weight: 300;
    padding: 0 1em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  /* clearfix */
  ul::after {
    content: '';
    display: block;
    clear: both;
  }

  li {
    display: block;
    float: left;
  }

  [aria-current] {
    position: relative;
    display: inline-block;
  }

  [aria-current]::after {
    position: absolute;
    content: '';
    width: calc(100% - 1em);
    height: 2px;
    background-color: rgb(255, 62, 0);
    display: block;
    bottom: -1px;
  }

  a {
    text-decoration: none;
    padding: 1em 0.5em;
    display: block;
  }
</style>

<nav>
  <ul>
    {#each pages as { name, href, rel }}
      <li>
        {@debug name, href, rel, segment}
        <a aria-current={segment === name ? 'page' : undefined} {href} {rel}>
          {name}
        </a>
      </li>
    {/each}

  </ul>
</nav>
